.navContainer {
    position: sticky;
    max-width: 1400vh;
    height: 1px;
    background-color: rgba(126, 30, 30, 0.89);
    display: flex;
    flex-direction: row;

    padding: 2rem;
    margin-top: 20px;
}

.barContainer {
    font-size: xx-large;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;

}


.cardContainer {
    font-size: xx-large;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.cardContainer i {

    font-size: xx-large;
    color: white;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;

}

.number {
    background-color: yellow;
    border-radius: 100%;
    display: flex;
    position: absolute;
    z-index: 2;
    margin-right: -20px;
    margin-top: -50px;
    font-size: large;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    color: black;
}


.navContainer h2 {
    font-size: xx-large;
    color: white;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navItems {
    gap: 100px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    margin-left: 40%;
    row-gap: 10px;
}

/*product*/
.productContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.product {
    background-color: rgb(71 114 135 / 43%);
    width: 270px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 30px;
    border-radius: 10%;
}

.imgProduct img {
    width: 250px;
    height: 150px;
    border-radius: 5%;
}

.priceTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

}

.buttons button {
    width: 150px;
    height: 30px;
    outline: none;
    color: #503285;
    font-weight: 900;
}

/*modal*/

.modal, .modalFooter {
    height: auto;
    width: 700px;
    background-color: rgb(240, 155, 228);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    opacity: 1;
}

.modalCenter {
    height: auto;
    width: 700px;
    background-color: rgb(240, 155, 228);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selectedProduct {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50%;
}

.modalImageProduct {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.modalImageProduct img {
    width: 80px;
    height: 50px;
    border-radius: 20%;

}

.modalPriceTitle {
    display: flex;
    align-items: center;
}

.modalPriceTitle h5 {
    width: 140px;
}

.modalPriceTitle p {
    opacity: 70%;
}

.modalFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.modalBtn {
    outline: none;
    padding-bottom: 10px;

}

.modalBtn button {
    outline: none;
    background-color: #32cc906b;
    color: #791991;
    font-size: large;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 5;
}